.demo2container {
  min-height: 1100px;
  width: 100%;
  background-image: url("https://i.imgur.com/oHoPCCz.jpg");
  background-size: cover;
}

.transparency {
  min-height: 1100px;
  width: 100%;
  background-color: rgba(250, 254, 121, .5)
}
